@font-face {
  font-family: "Estedad-FD-Regular";
  src: url("../public/fonts/Estedad-FD-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Estedad-FD-Black";
  src: url("../public/fonts/Estedad-FD-SemiBold.woff2") format("woff2");
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #f566, #f569);
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 450px;
  height: 350px;
  background-color: red;
  margin: auto;
  background-color: #f567;
  border: 2px solid #FFF;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 120px auto;
}

.form-search {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 450px;
  height: 140px;
  background-color: rgb(119, 171, 255) !important;
  margin: auto;
  border: 2px solid #FFF;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 120px auto;
}

.form-search input {
  font-family: "Estedad-FD-Regular";
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px 6px;
  border: none;
  outline: none;
  background-color: #fff9;
  color: #000;
}

.form-search button {
  background-color: aqua;
  color: #000000;
  font-family: "Estedad-FD-Black";
  border-radius: 8px;
  padding: 5px 15px;
  margin: auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: "Estedad-FD-Black";
  border: none;
  outline: none;
  margin: auto;
  cursor: pointer;
}

.data-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.container .data-set label {
  width: 100%;
  font-family: "Estedad-FD-Black";
  margin: 2px 0;
}

.container label {
  width: 100%;
  font-family: "Estedad-FD-Black";
  margin: 2px 0;
}

.data-set p {
  width: 100%;
  font-family: "Estedad-FD-Black";
  margin: 2px 0;
  text-align: center;
  font-weight: 700;
}

.data-set input {
  font-family: "Estedad-FD-Regular";
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px 6px;
  border: none;
  outline: none;
  background-color: #fff9;
  color: #000;
}

.data-set button {
  background-color: #FFF;
  width: 120px;
  font-family: "Estedad-FD-Black";
  border: none;
  outline: none;
  margin: auto;
  cursor: pointer;
  height: 45px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.data-set button:hover {
  background-color: #99ff99;

}

main {
  display: block;
  box-sizing: border-box;
  width: auto;
  padding: 1em 2vw;
  margin: 1em 2vw;
  color: #000;
  background-color: rgba(204, 204, 204, 0.7);
  border: 0.07em solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

.rwd-table {
  margin: auto;
}

.rwd-table button {
  font-family: "Estedad-FD-Black";
  border: none;
  outline: none;
  margin: auto;
  cursor: pointer;
  background-color: red;
  color: #FFF;
  padding: 5px 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin-bottom: 25px;
  padding-top: 5px;
}

.header ul {
  padding: 10px;
  width: 75%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: #F66;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.header ul li {
  margin: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: "Estedad-FD-Regular";
  height: 80%;
  padding: 2px 10px;
  border: 1px solid #FFF;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


table {
  margin: 1em 0;
  border-collapse: collapse;
  /*width: 100%;
  */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
  padding: 0.8em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
  font-family: "Estedad-FD-Regular";
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  font-family: "Estedad-FD-Black";
}

td::before {
  display: none;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.25);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.5);
}

td:nth-of-type(2) {
  font-style: italic;
}

th:nth-of-type(3),
td:nth-of-type(3) {
  text-align: right;
}

div {
  overflow: auto;
}

@media screen and (max-width: 37em),
print and (max-width: 5in) {

  table,
  tr,
  td {
    display: block;
  }

  tr {
    padding: 0.7em 2vw;
  }

  th,
  tr:first-of-type {
    display: none;
  }

  td::before {
    display: inline;
    font-weight: bold;
  }

  td {
    display: grid;
    grid-template-columns: 4em auto;
    grid-gap: 1em 0.5em;
  }

  caption {
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-weight: bold;
  }

  td:nth-of-type(3) {
    text-align: left;
  }

  td:nth-of-type(4),
  td:nth-of-type(5) {
    text-align: right;
    width: 12em;
  }

  td:nth-of-type(4)::before,
  td:nth-of-type(5)::before {
    text-align: left;
  }

  td:nth-of-type(2)::before {
    font-style: normal;
  }
}

@media print {
  body {
    font-size: 6pt;
    color: #000;
    background-color: #fff;
    background-image: none;
  }

  body,
  main {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
  }

  table {
    page-break-inside: avoid;
  }

  div {
    overflow: visible;
  }

  th {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }

  tr {
    border-top: 1pt solid #000;
  }
}

@media print and (max-width: 5in) {
  caption {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
  }
}